{% extends 'base.html' %}

{% block content %}
    <div class="row"><h2 style="margin-top: 5px;margin-left:20px;">Подбор масла</h2></div>
    <hr style="margin: 0;">
    <div class="row">
        <ul class="list-group list-group-flush" style="width: 100%;">
        {% for model in spisok %}
            <li class="list-group-item list-group-item-action">
                <a href="{{ model.url }}" style="color: black"><div>
                    {{ model.name }}
                </div></a>
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}